
/* Fixes for fixed navbar padding */
body {
  padding-bottom: 50px;
  padding-top: 70px;
}

/* Logo Text */
#logo-text {
  font-size: 32px;
}

/* Scoot landing jumbotron up */
#landing-jumbotron {
  background: url("/assets/images/golden-gate-bg.jpg");
  background-size: cover;

  margin-top: -20px;

  /* override top shadow and border */
  /*border: none;*/

  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Larger on desktop screens */
@media screen and (min-width: 992px) {
  #landing-jumbotron {
    padding: 150px 0;
    height: 500px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
/* Buttons: Remove the annoying blue outline */
.btn {
    outline: none !important;
}
