<section class="jumbotron" id="landing-jumbotron">
  <div class="container text-center">
    <h1>Find Hackathons in the Bay Area</h1>
    <p>A simple, neat list of all the hackathons in the Bay Area. Submit your own or find the right one for you.</p>
    <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</section>
